* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fefefe;
    color: #333;
}

header {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.banner {
    background-image: url('https://images.unsplash.com/photo-1586190848861-99aa4a171e90');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.cardapio {
    padding: 50px;
    text-align: center;
}

.bebidas {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.bebida {
    width: 200px;
    background-color: #ffe8e8;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.bebida:hover {
    transform: scale(1.05);
}

.bebida img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
}
