body{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
}

h3{
    color:rgb(255, 255, 255);
    text-align: center;
}

*{
    box-sizing: border-box;
}
form{
    width: 300px;
    margin: 200px auto;
    text-align: center;
}

input{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
}
